<nav
  class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary"
  id="navbar-main"
  style="padding-top: 2rem; padding-bottom: 2rem"
>
  <div class="container px-lg-0">
    <!-- Logo -->

    <!-- Navbar collapse trigger -->
    <button
      class="navbar-toggler pr-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-main-collapse"
      aria-controls="navbar-main-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar nav -->
    <div class="collapse navbar-collapse" id="navbar-main-collapse">
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-lg-none d-xl-block">
          <a class="nav-link" href="/dashboard" target="_blank">Dashboard</a>
        </li>
        <li class="nav-item">
          <a
            href="index.html#"
            class="nav-link"
            data-action="omnisearch-open"
            data-target="#omnisearch"
            ><i class="fas fa-search"></i
          ></a>
        </li>
        <li class="nav-item mr-0">
          <!-- <a
            href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/"
            target="_blank"
            class="nav-link d-lg-none"
            >Purchase now</a
          >
          <a
            href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/"
            target="_blank"
            class="btn btn-sm btn-white btn-icon rounded-pill d-none d-lg-inline-flex"
            data-toggle="tooltip"
            data-placement="left"
            title="Go to Bootstrap Themes"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-shopping-cart"></i
            ></span>
            <span class="btn-inner--text">Purchase now</span>
          </a> -->
          <div class="btn-group">
            <button
              type="button"
              class="btn-sm btn-primary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <%= user.username %>
            </button>
            <div class="dropdown-menu" style="width: 70%; min-width: 13rem">
              <a class="dropdown-item" href="/profile">
                <i class="fas fa-user"></i> Profile</a
              >
              <a class="dropdown-item" href="/auth/logout">
                <i class="fas fa-arrow-alt-circle-right"></i> Logout</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- Omnisearch -->
    <div id="omnisearch" class="omnisearch">
      <div class="container">
        <!-- Search form -->
        <form class="omnisearch-form">
          <div class="form-group">
            <div class="input-group input-group-merge input-group-flush">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
              <input
                type="text"
                id="search"
                class="form-control"
                placeholder="Type and hit enter ..."
              />
            </div>
          </div>
        </form>
        <!-- <div class="omnisearch-suggestions">
          <h6 class="heading">Search Suggestions</h6>
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a class="list-link" href="index.html#">
                    <i class="fas fa-search"></i>
                    <span>macbook pro</span> in Laptops
                  </a>
                </li>
                <li>
                  <a class="list-link" href="index.html#">
                    <i class="fas fa-search"></i>
                    <span>iphone 8</span> in Smartphones
                  </a>
                </li>
                <li>
                  <a class="list-link" href="index.html#">
                    <i class="fas fa-search"></i>
                    <span>macbook pro</span> in Laptops
                  </a>
                </li>
                <li>
                  <a class="list-link" href="index.html#">
                    <i class="fas fa-search"></i>
                    <span>beats pro solo 3</span> in Headphones
                  </a>
                </li>
                <li>
                  <a class="list-link" href="index.html#">
                    <i class="fas fa-search"></i>
                    <span>smasung galaxy 10</span> in Phones
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</nav>

<script>
  const searchForm = document.querySelector(".omnisearch-form");
  searchForm.addEventListener("keypress", (e) => {
    if (e.keyCode === 13) {
      e.preventDefault();
      const searchQuery = searchForm.search.value;
      console.log(searchQuery);
    }
  });
</script>
